.mainBooking {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #1e1e1e;
  .datePicker {
    display: flex;
    div.sdp {
      background-color: rgb(148, 148, 148);
      --outline: 1px solid #a6a6a6;
      border-radius: 0.1rem;

      .sdp--dates-grid {
        background-color: rgb(148, 148, 148);
      }
      .sdp--square-btn {
        border-radius: 0.2rem;
      }
    }

    .sdp {
      --selected-date-color: #eeeeee !important;
    }
    .stp {
      --disabled-color: gray !important;
    }
    .sdp {
      --theme-color: #bf7138 !important;
    }
  }

  // TIME AND AMOUNT OF PEOPLE
  #results{
      display: flex;
      gap: 5px;
      input[type=radio]{
        width: 20px;
        height: 20px;
      }
      label{
        font-size: 20px;
      }
      select{
        width: 70px;
        margin-left: 5px;
      }
    
  }
  .bookings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label{
        font-size: 20px;
      }
      input[type=text]{
        width: 320px;
        height: 40px;
      }
      .btn-submit{
        width: 200px;
        height: 40px;
        border: 1px solid white;
        padding: 2px;
        margin: 40px;
        font-size: 18px;
        background-color: transparent;
        color: white;
      }
      .btn-submit:first-of-type{
        margin-bottom: 0px;
        background-color: #bf7138;

      }
      .btn-submit:last-of-type{
        margin-top: 20px;
      }
      .btn-submit:first-of-type:hover{
        background-color: #bd7d50;

    }
    .btn-submit:last-of-type:hover{
      background-color: #363636;

  }
  .gdpr-container{
    margin: 0px 10px;
    .gdpr{
      font-size: 1rem;
    }
  }
  }
  .error-msg{
    p{
     color:rgb(182, 38, 38);
    }
  }
}