 .Contact {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .contact-container {
        max-width: 800px;
        margin:30px;
        display: flex;
        flex-direction: column;
        text-align: left;
        .contactus {
          font-size: 50px;
          color: #BF7138;
        }
        .hittahit {
          font-size: 50px;
          color: #BF7138;
        }
        p {
          margin: 5px;
        }
      }
  }
  
  @media screen and (max-width: 1180px) {
    .GMaps {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 769px) {
      .GMaps {
        width: 75%;
      }
  }