
.hero-image {
  background-image: url(../assets/hero-mobile.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  position: absolute;
  top: 0;
}
.spaceSection {
  background-color: #1e1e1e;
  height: 92vh;
}
.wrapper-home {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .booking-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 20px;
    .Welcome-text {
      font-size: 50px;
    }
    .text-div-booking {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      b{
        font-size: 1.2rem;
        text-align: left;
        margin: 10px;

      }
      p {
        margin: 10px;
        font-size: 1rem;
        text-align: left;
      }
    }
    .btn-booking {
      width: 150px;
      height: 40px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      margin: 40px;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

      }
    }
    .btn-booking:hover {
      background-color: #2c2b2b;
      cursor: pointer;
    }
  }
  .four-images-container {
    background-color: #bf7138;
    min-height: 30vh;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    .image-wrapper {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      .image-one {
        background-image: url(../assets/tomatopasta-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        width: 45%;
      }
      .image-two {
        background-image: url(../assets/parmesan-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        width: 45%;
      }
      .image-three {
        background-image: url(../assets/pizzaleft-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        width: 45%;
      }
      .image-four {
        background-image: url(../assets/pastacheese-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        width: 45%;
      }
    }
  }
  .opening-hours-container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .opening-info {
      h4 {
        font-size: 2rem;
        margin: 5px 0px;
        text-align: center;
      }
      p {
        font-size: 1.2rem;
        text-align: center;

      }
    }

  }
  .meny-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .meny-images-container {
      max-width: 800px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 35px 0px 20px 0px;
      
      .image-six {
        background-image: url(../assets/basilico-mobile.jpg);
        height: 350px;
        width: 100%;
        margin: 0px 25px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
      }
      .image-seven {
        background-image: url(../assets/pizzaslice-mobile.jpg);
        height: 350px;
        margin: 15px 25px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .meny-text-wrapper{
      max-width: 800px;
      p {
        color: #1e1e1e;
        margin: 10px;
        text-align: left;
      }
      p:first-of-type{
        font-weight: bold;
        font-size: 1.1rem;
      }
      p:last-of-type{
        margin-bottom: 40px;
      }
    }

    .btn-meny {
      width: 150px;
      height: 40px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
      }
    }
    .btn-meny:hover {
      background-color: #fbfbfb;
      cursor: pointer;
    }
    hr {
      color: black;
      margin: 30px;
      width: 80%;
    }
  }
}

@media screen and (min-width: 598px) {
  .hero-image {
    background-image: url(../assets/hero-pad.jpg);
    width: 100%;
    height: 100vh;
    background-position: top;
    position: absolute;
    top: 0;
  }
  .wrapper-home {
    width: 100%;
    .booking-container {
      max-width: 800px;
      p {
        margin: 5px;
      }
    }

    .four-images-container {
      width: 100%;
      min-height: 20vh;
      display: flex;
      flex-direction: row;
      .image-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .image-one {
          background-image: url(../assets/tomatopasta-mobile.jpg);
          background-repeat: no-repeat;
          background-position: center;
          height: 300px;
          width: 22%;
        }
        .image-two {
          background-image: url(../assets/parmesan-mobile.jpg);
          background-repeat: no-repeat;
          background-position: center;
          height: 300px;
          width: 22%;
        }

        .image-three {
          background-image: url(../assets/pizzaleft-mobile.jpg);
          background-repeat: no-repeat;
          background-position: center;
          height: 300px;
          width: 22%;
        }
        .image-four {
          background-image: url(../assets/pastacheese-mobile.jpg);
          background-repeat: no-repeat;
          background-position: center;
          height: 300px;
          width: 22%;
        }
      }
    }
    .meny-container {
      background-color: white;
      .meny-images-container {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        .image-six {
          background-image: url(../assets/pastabasilico.jpg);
          height: 260px;
          margin: 10px;
          background-position: center;
        }
        .image-seven {
          background-image: url(../assets/pizzaslice.jpg);
          height: 260px;
          margin: 10px;
          background-position: center;
        }
      }
  
    }
    footer {
      p {
        margin: 2px;
        font-size: 13px;
      }
    }
  }
}

//HERO IMAGE
@media screen and (min-width: 769px) {
  .hero-image {
    background-image: url(../assets/dekstop-hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
  }
  
}
.spaceSection {
  background-color: #1e1e1e;
}

//DESKTOP 1023px
@media screen and (min-width: 1023px) {
  .hero-image {
    background-image: url(../assets/dekstop-hero.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
  }

  .wrapper-home {
    .booking-container {
      p {
        font-size: 1rem;
      }
      .btn-booking {
        width: 150px;
        height: 50px;
        a {
          font-size: 20px;
        }
      }
      
    }
    .four-images-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      .image-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        .image-one {
          background-image: url(../assets/tomato-desktop.jpg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 400px;
          width: 24%;
        }
        .image-two {
          background-image: url(../assets/parmesan-desktop.jpg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 400px;
          width: 24%;
        }

        .image-three {
          background-image: url(../assets/pizzaleft-desktop.jpg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 400px;
          width: 24%;
        }
        .image-four {
          background-image: url(../assets/pastacheese-desktop.jpg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 400px;
          width: 24%;
        }
      }
    }
    .meny-container {
      padding-bottom: 40px;
      width: 100wv;
      .meny-text-wrapper{
        margin-bottom: 30px;
        p {
        font-size: 1rem;
       }
      }
      .btn-meny {
        width: 150px;
        height: 50px;
        margin-bottom: 20px;
        a {
          font-size: 20px;
        }
      }
    }
    .opening-hours-container {
      max-width: 1000px;
      height: 550px;
      display: flex;
      justify-content: center;
      gap: 40px;
      .opening-image-container {
        width: 600px;
        height: 400px;
      }
    }
    
  }
}

//DESKTOP LARGE 1300px
@media screen and (min-width: 1300px) {
  .hero-image {
    background-image: url(../assets/1hero-xl.jpg);
    background-position:center;
    position: absolute;
  }

  .wrapper-home{
    .four-images-container {
      .image-wrapper {
        gap:10px;
        .image-one {
          background-image: url(../assets/xl-tomatopasta.jpg);
          min-height: 500px;
          width: 24%;
        }
        .image-two {
          background-image: url(../assets/xl-parmesan.jpg);     
          min-height: 500px;
          width: 24%;
        }

        .image-three {
          background-image: url(../assets/xl-pizzaleft.jpg);
          min-height: 500px;
          width: 24%;
        }
        .image-four {
          background-image: url(../assets/xl-pastacheese.jpg);
          min-height: 500px;
          width: 24%;

        }
      }
    }
    
  }
}
