.wrapper{
    margin: 10px;
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px;
        nav{
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 20px;
                li{

                }
            }
        }
    }
}