@import "home";
@import "admin";
@import "booking";
@import "reservations";

body {
  color: white;
  background-color: #1e1e1e;
  font-family: transat-text, sans-serif;
  .wrapper {
    // margin: 10px;
    header {
      // position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
      max-width: 1200px;
      margin: 0 auto;
      .home {
        z-index: 10;
        color: white;
        a {
          color: white;
        }
      }
      nav {
        z-index: 10;
        .nav-links-mobile {
          position: absolute;
          display: block;
          list-style: none;
          background-color: #1e1e1e;
          left: 0;
          top: -15px;
          transition: all 0.5s ease-out;
          width: 100%;
          height: 100vh;
          padding: 0px;
          z-index: 10;
          li {
            margin-top: 40px;
            color: white;
            a {
              text-decoration: none;
              text-align: center;
              padding: 0px;
              width: 100%;
              color: white;
              margin: 0px;
              cursor: pointer;
              font-size: 30px;
              transition: all 0.5s ease-out;
              margin-top: 50px;
            }
            a:hover {
              text-decoration: underline;
            }
          }
          li:first-child {
            margin-top: 130px;
          }
        }
        .mobile-menu-icon {
          display: block;
          font-size: 35px;
          position: absolute;
          top: 15px;
          right: 25px;
          cursor: pointer;
          background-color: transparent;
          border: none;
          outline: none;
          color: white;
          z-index: 10;
        }
        .nav-links {
          display: none;
        }
      }
    }
  }
}

h3 {
  color: white;
}

@media screen and (min-width: 768px) {
  body {
    .wrapper {
      header {
        nav {
          .nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            gap: 15px;
            margin: 0px 15px;
            li {
              a {
                text-decoration: none;
              }
            }
          }
          .mobile-menu-icon {
            display: none;
          }
        }
      }
    }
  }
}
