.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    h2{
        font-size: 35px;
        color: rgb(189, 54, 54);
    }
    a{
        color:white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}