.not-found-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 45px;
    color: rgb(189, 54, 54);
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
